body{
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

h1{
    font-size: 40pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#animar{
    display: flex;
    justify-content: center;
    width: 20vw;
}

#um{
    background-color: red;
    height: 120px;
    width: 8px;
    animation: um 1s linear infinite;
}

#dois{
    background-color: orange;
    height: 120px;
    width: 8px;
    animation: dois 2s linear infinite;
}

#tres{
    background-color: yellow;
    height: 120px;
    width: 8px;
    animation: tres 3s linear infinite;
}

#quatro{
    background-color: green;
    height: 120px;
    width: 8px;
    animation: quatro 4s linear infinite;
}

#cinco{
    background-color:aquamarine;
    height: 120px;
    width: 8px;
    animation: cinco 5s linear infinite;
}

#sexta{
    background-color:blue;
    height: 120px;
    width: 8px;
    animation: seis 6s linear infinite;
}

#sete{
    background-color: purple;
    height: 120px;
    width: 8px;
    animation: sete 7s linear infinite;
}

@keyframes um{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes dois{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes tres{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes quatro{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes cinco{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes seis{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes sete{
    100%{
        transform: rotate(360deg);
    }
}